[submodule "projects"]
	path = projects
	url = https://github.com/Paperspace/DataAugmentationForObjectDetection
[submodule "project/image_preprocess"]
	path = project/image_preprocess
	url = https://github.com/Paperspace/DataAugmentationForObjectDetection
